@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Raleway, sans-serif;
    font-size: 1.2em;
    color: #444;
}
header{
    height: 120px;
    background-color: #F9F9F9;
}
nav{
    height: 90px;
    display: flex; /* habilitamos flexbox */
    justify-content: center; /* centrado horizontal */
    align-content: stretch; /* estiramos los a */;
}
nav a{
    margin: 0px 5px;
    padding: 0px 25px;
    line-height: 90px;
    text-decoration: none;
    color: #444;
    border-bottom: 6px solid #fff;
    transition: .5s;
}
nav a:hover{
    border-bottom: 6px solid #e1f0bc;
}


main{
    min-height: 560px;
    width: 1100px;
    margin: auto;
    display: flex; /* habilitamos flexbox */
    flex-wrap: wrap;
    justify-content: space-between; /* separacion entre articles */
}

    main article{
        width: 310px;
        margin: 16px 0px;
        padding: 20px;
    }
    h2{
        font-size: 20px;
    }

footer{
    height: 150px;
    background-color: #F9F9F9;
}